body {
  background: rgba(74, 74, 74, 0.10);
  padding-bottom: 150px;
}

.panel {
  position: fixed;
  padding-bottom: 20px;
  width: 50px;
  background: #8A8A8A;
  bottom: 0;
  top: 0;
}

#panel_right {
  right: 0;
}

#panel_left {
  left: 0;
}

.tahoma {
  font-family: Tahoma;
}
