.darkgrey {
  color: #4A4A4A;
}

.lightgrey {
  color: #8A8A8A;
}

#title {
  font-size: 50px;
  text-align: center;
  margin-top: 1.5em;
  margin-bottom: 180px;
}

.radial_white {
  border-radius: 14px;
  background: white;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.button {
  font-size: 25px;
  padding: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
}

.button:hover {
  background: rgba(75, 75, 75, 0.1);
}

#back {
  position: absolute;
  text-decoration: underline;
  right: 100px;
  font-weight: 100;
  top: 250px;
  display: none;
  cursor: pointer;
  color: #8A8A8A;
}

#back:hover {
  color: #4A4A4A;
}

.img_preview img {
  height: 100px;
  object-fit: scale-down;
}
